
<ul class="bloco-posts">

  <div id="tag_cloud">
    <% tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class|%>
    <%= link_to tag.name, tag_path(tag.name), class:css_class %>
        <% end %>
  </div>

    <% @posts.reverse_each do |post|  %>
      <% if post.drafts ==  false %>

    <li class="post">
        <div class="item">
            <%= link_to post.user.username do %>
              <%= image_tag post.user.avatar.url(:thumb), size: "60x60", class: "avatar img-circle has-tooltip", data:{placement: "right"}, title: post.user.first_name %>
            <% end %>
            <h2><%= link_to post.title, post %></h2>
            <div class="resumo">
                <%= raw post.content[0..140]%> ...
            </div>
          <div class="resmo">
            <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
          </div>

        </div>

        <div class="meta">
            <%= link_to time_ago_in_words(post.created_at).capitalize + " ago", post %>

            <% if user_signed_in? %>
            <% if current_user.id == post.user.id %>
            <span class="admin">
              <%= link_to "Edit", edit_post_path(post) %>
              <%= link_to "Delete", post, :method => :delete, data: { confirm: "Are you sure you want to delete #{post.title}?"} %>
            </span>
            <% end %>
            <% end %>
        </div>

    </li>

    <% end %>
<% end %>
</ul>
