
<div class="row centralize">
  <div class="col-lg-6 col-lg-offset-2 floating-label-form-group ">
    <script>$(document).ready(function() {$('#sampleform').sisyphus();});
    console.log('saving');
    </script>

    <%= simple_form_for(@post, html: {class:"form-horizontal", multipart: true}) do |f| %>
        <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2> <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="page-header"><h2><%= @title %></h2></div>

        <div class="floating-label-form-group label">
        <%= f.input :avatar, as: :file, placeholder: "Image", input_html: {class: "form-control"} %>
        </div>

        <div class="form-group">
          <%= f.input :title, placeholder: "Title", input_html: {class:"form-control"} %>
        </div>

        <div class="form-group">
          <%= f.input :location, placeholder: "Location", input_html: {class:"form-control"} %>
        </div>

        <div class="form-group">
          <%= f.input :tags, placeholder: "tags", input_html: {class:"form-control"} %>
        </div>

        <div class="form-group">
          <%= f.input :content, as: :text, placeholder: "Start Writing", input_html: {id: "wysihtml5-textarea", class:"form-control", rows:5} %>
        </div>

        <div class="form-group">
          <%= f.submit "Create post", class: "btn btn-lg pull-right" %>
          <%= f.submit "Save as Draft(s)", class:"btn pull-left",name: "draft_button" %>
        </div>


    <% end %>


  </div>
</div>