


<div class="painel">

</div>


<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="painel-float">

      <div class="titulo">
        <%= link_to "Home", home_path %>
      </div>
      <div class="descricao">
        This Blog Gives org. to have there blog up and running withing sec.
      </div>

      <% if user_signed_in? %>
          <div class="links-signed">
            <%= link_to "Create new post", new_post_path, class: "btn btn-primary" %>
            <%= link_to signout_path do %><div title="SingOut" class="glyphicon glyphicon-log-out has-tooltip"></div><% end %>
            <%= link_to edit_user_registration_path do %><div title="Settings" class="glyphicon glyphicon-cog has-tooltip"></div><% end %>
          </div>
      <% else %>
          <div class="links-unsigned">
             <%= link_to "Register", register_path %>
            <%= link_to "SignIn", signin_path %>
          </div>

      <% end %>

    </div>


    <div>
      <%= render 'all_posts' %>
    </div>

  </div>
</div>


