<%= render 'return_button' %>

    <div class="row">

      <%= image_tag @post.avatar.url(:original), class: "blog_image" %>
      <div class="col-md-8 col-md-offset-2">

        <ul class="bloco-posts">
          <li class="post">

            <div class="item">

              <h2><%= @post.title %></h2>

              <div class="resmo">
                <%= raw @post.location %>
              </div>

              <div class="resumo">
                <%= raw @post.content %>
              </div>
                <br>
              <div class="resmo">
                <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
              </div>

              <div class="resumo">
                <% if @post.rating > 0 %>
                    <p>

                      <% num_stars(@post.rating)[:full].times do %>
                          <i class="glyphicon glyphicon-star"></i>
                      <% end %>
                      <% num_stars(@post.rating)[:half].times do %>
                          <i class="glyphicon glyphicon-heart"></i>
                      <% end %>
                      <% num_stars(@post.rating)[:empty].times do %>
                          <i class="glyphicon glyphicon-star-empty"></i>
                      <% end %>
                    </p>
                <% end %>
              </div>

            </div>

            <div class="meta">
              <%= link_to time_ago_in_words(@post.created_at).capitalize + " ago", @post %>

              <% if user_signed_in? %>
                  <% if current_user.id == @post.user.id %>
	            <span class="admin">
	              <%= link_to "Edit", edit_post_path(@post) %>
                  <%= link_to "delete", @post, :method => :delete, data: { confirm: "Are you sure you want to delete #{@post.title}?"} %>
	            </span>
                  <% end %>
              <% end %>
            </div>
                <br>
            <hr>
            <%= image_tag @post.user.avatar.url(:thumb), size: "60x60", class: "avatar img-circle has-tooltip", data:{placement: "top"}, title: @post.user.first_name %>
            <div class="pull-right">
              <%= @post.user.bio%>
            </div>
          </li>
        </ul>
      </div>
    </div>

<!-- /main -->
  </div><!-- /st-pusher -->
</div><!-- /st-container -->


